body{
    background-color: burlywood;
}
#heading1{
    text-align: center;

}
p.paragraph{
font-family: "Bookshelf Symbol 7";
    font-size: 18px;
    font-family: Arial;
}
#mydivision{
    background-color: dodgerblue;
    margin: 40px;
    padding: 30px;
    color: white;
}
#test{
    background-color: lightslategray;
    margin: 40px;
    padding: 40px;
    display: flex;
    color: white;
}
#test img{
    margin-right: 40px;
    border-radius: 400px;
}
#main{
    display: flex;
}
#Advertisement{
    background-color: red;
    color:white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#accounting {
    background-color: blueviolet;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#payment {
    background-color: greenyellow;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#Advertisement:hover,#accounting:hover,#payment:hover{
    background-color: blue;
}
